html {
    background-color: rgba(228, 226, 226, 0.822);
  }

  .box {
     
    float: left;
    padding-left: 10px; 
}

.botones {
    float: left;
    padding-left: 10px;
}

.box .TEXTAREA {
      
	border:1px solid #f1f3f5;
}

h2 {
    font-family: sans-serif;
}

.button {
    background-color: rgb(72, 108, 206);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}